{% extends 'base.html' %}

{% block content %}
  <h1>Добавление подарка</h1>
  <form method="POST" action="{{ url_for('add_gift') }}" enctype="multipart/form-data">
    {{ form.csrf_token }}
    <div class="form-group">
      {{ form.title.label }}
      {{ form.title(class="form-control") }}
    </div>
    <div class="form-group">
      {{ form.description.label }}
      {{ form.description(class="form-control") }}
    </div>
    <div class="form-group">
      {{ form.link.label }}
      {{ form.link(class="form-control") }}
    </div>
    <div class="form-group">
      {{ form.price.label }}
      {{ form.price(class="form-control") }}
    </div>
    <div class="form-group">
      <label for="image">Image</label>
      <input type="file" name="image" id="image" class="form-control-file">
    </div>
    {{ form.submit(class="btn btn-primary") }}
  </form>
{% endblock %}
